$primary :#0084d1;
$sidebarcolor :#fafafa;
$hover-color:#EBF0FF;
$codecolor:#f70020;
$light-value-map:(
    name:"light",
    text-color:$gray-800,
    background-color:$white,
    active-color:$primary,
    button-color:$primary,
    sidebar-color:$sidebarcolor,
    hover-color:$hover-color,
    code-color:$codecolor,
    button-text-color:$white,

)