$primary :#0084d1;
$sidebarcolor : #e7f9ff;
$hover-color:#b8e7f7;
$codecolor:#f70020 ;
$blue-value-map:(
    name:"blue",
    text-color:$gray-800,
    background-color:$white,
    active-color:$primary,
    button-color:$primary,
    sidebar-color:$sidebarcolor,
    hover-color:$hover-color,
    code-color:$codecolor,
    button-text-color:$white,
)