$primary :#000000;
$sidebarcolor : #000000;
$hovercolor : #555555;
$codecolor:#f3db00;
$dark-value-map:(
    name:"dark",
    text-color:$white,
    active-color:$white,
    background-color:$black,
    button-color:$primary,
    button-color-dark:$primary,
    sidebar-color:$sidebarcolor,
    hover-color:$hovercolor,
    code-color:$codecolor,
    button-text-color:$white,
    
)