$primary :#108d10;
$sidebarcolor : #f7fff7;
$hover-color:#d9ffd9;
$codecolor:#f70020;
$green-value-map:(
    name:"green",
    text-color:$gray-800,
    background-color:$white,
    active-color:$primary,
    button-color:$primary,
    sidebar-color:$sidebarcolor,
    hover-color:$hover-color,
    code-color:$codecolor,
    button-text-color:$white,
)