$spacing-breadcrumbs: 10px;

//Classic breadcrumbs
ul.breadcrumb-classic {
	padding: 10px 16px;
	list-style: none;
}
ul.breadcrumb-classic li {
	display: inline;
	font-size: 14px;
	color: $gray-600;
}
.active {
	color: $gray-800 !important;
}

ul.breadcrumb-classic li + li:before {
	padding: 8px;
	color: black;
	content: "›";
	font-size: 18px;
}
ul.breadcrumb-classic li a {
	color: $blue;
	text-decoration: none;
}
ul.breadcrumb-classic li a:hover {
	color: #01447e;
	text-decoration: underline;
}
//Classic breadcrumbs1
ul.breadcrumb-classic1 {
	padding: 10px 16px;
	list-style: none;
}
ul.breadcrumb-classic1 li {
	display: inline;
	font-size: 14px;
	color: $gray-600;
}
.active {
	color: $gray-800 !important;
}
.icon-home-1 {
	color: $blue;
	padding: 0 5px 0 0;
}
ul.breadcrumb-classic1 li + li:before {
	padding: 8px;
	color: $blue;
	content: "›";
	font-size: 18px;
}
ul.breadcrumb-classic1 li a {
	color: $blue;
	text-decoration: none;
}
ul.breadcrumb-classic1 li a:hover {
	color: #01447e;
	text-decoration: underline;
}
//Classic breadcrumbs2
ul.breadcrumb-classic2 {
	padding: 10px 16px;
	list-style: none;
}
ul.breadcrumb-classic2 li {
	display: inline;
	font-size: 14px;
	color: $gray-600;
}
.active {
	color: $gray-800 !important;
}
.icon-home-1 {
	color: $blue;
	padding: 0 5px 0 0;
}
ul.breadcrumb-classic2 li + li:before {
	padding: 8px;
	color: $blue;
	content: "›";
	font-size: 18px;
}
ul.breadcrumb-classic2 li a {
	color: $blue;
	text-decoration: none;
}
ul.breadcrumb-classic2 li a:hover {
	color: #01447e;
	text-decoration: underline;
}


//center the breadcrumbs
.breadcrumbs {
	display: inline-block;
	position: relative;

	.crumb {
		transition: background 0.1s linear;
		text-decoration: none;
		float: left;
		font-size: 14px;
		color: $white;
		padding: 2px 5px 2px 8px + ($spacing-breadcrumbs * 2);
		background: $gray-600;
		position: relative;

		//let remove a little spacing from the first crumb
		&:first-child {
			padding-left: $spacing-breadcrumbs;
		}

		//the last element will not look like the rest of the crumbs
		&:last-child,
		&:hover:last-child {
			padding-left: $spacing-breadcrumbs + 5px;
			background: none;
			cursor: text;
		}

		//adding the arrows for the breadcrumbs using rotated pseudo elements
		&:after {
			transition: background 0.1s linear;
			content: "";
			position: absolute;
			top: 4px;
			right: 1px - $spacing-breadcrumbs;
			padding: 10px;
			z-index: 1;
			background: $gray-600;

			//the scaling makes the top/bottom of the arrows flat
			transform: scale(0.98) rotate(45deg);

			//stylish arrow design using box shadow
			box-shadow: 2px -2px 0 1px $white;
		}

		//we need to move the last crumb seperator a little more the the left to cover up the background of the crumb itself
		&:last-of-type:after {
			right: -10px;
		}

		//no seperator for the crumb
		&:last-child:after {
			content: none;
		}

		//text should be above the seperator
		.text {
			position: relative;
			z-index: 2;
		}
	}

	a:last-of-type .text {
		padding-right: $spacing-breadcrumbs;
	}

	//change background color on hover
	a:hover,
	a:hover:after {
		background: darken($gray-600, 10);
	}
}

/*************** Breadcrumb Pagination *******************/

ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: $gray-200;
	li {
		display: inline;
		font-size: 15px;
		a {
			color: $primary;
			text-decoration: none;
			font-size: 15px !important;
			&:hover {
				color: darken($primary, 10);
				text-decoration: underline;
			}
		}
	}
	li + li {
		&:before {
			padding: 8px;
			color: $black;
			content: "/\00a0";
		}
	}
}

/*****************  Breadcrumbs ********************/
.breadcrumb__list {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
}
.breadcrumb__group {
	display: inline-flex;
	align-items: center;
	a {
		color: $black;
		text-decoration: none;
		margin-right: 0.5rem;
	}
}
.breadcrumb__divider {
	margin: 0rem 1rem 0rem 0.5rem;
}
.page__section {
	padding: 0.5rem 0.8rem;
	background-color: $gray-200;
	color: $black;
	border-radius: 2px;
	&:nth-of-type(n + 2) {
		margin-top: 2.5rem;
	}
}
