.form-section {
    background-color: $white;
    background-color: $gray-100;
    border-radius: $base-border-radius;
    max-width: 66.6666rem;
    padding: $padding-l 0;
    // height: calc(100vh - 265px);
    margin: 0 0 0.938rem 0;

    .row {
        margin: 0 0 $base-margin 0;
    }
    .valid-feedback {
        color: $red;
        font-size: $font-size-xsm;
    }
}
p.sub-text {
    color: $gray-600 !important;
}
// Horizontal Forms Start
.form-label {
    font-size: $font-size-base;
    padding: 0 0 $base-padding 0;
    font-weight: $font-weight-bold;
    color: $gray-600;
}
.form-line {
    display: flex;
}
.form-control {
    display: block;
    width: 100%;
    padding: $base-padding-xsm $base-padding-m;
    font-size: $font-size-base;
    color: $gray-900;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $gray-400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $base-border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: $gray-900;
        background-color: $white;
        border-color: $blue;
        outline: 0;
        box-shadow: none;
    }
}
// Horizontal Forms End

// Vertical Forms Start
.inline-form {
    .inline-lable {
        font-size: $font-size-base;
        padding: 0 $base-padding 0;
        font-weight: $font-weight-bold;
        color: $gray-600;
    }
    .inline-form-control {
        width: 166px;
        display: inline-block;
        padding: $base-padding-xsm $base-padding-m;
        margin: 0 0.938rem 0 0;
        font-size: $font-size-base;
        color: $gray-900;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid $gray-400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $base-border-radius;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
            color: $gray-900;
            background-color: $white;
            border-color: $blue;
            outline: 0;
            box-shadow: none;
        }
    }
    .full-width-input {
        float: right;
        width: 347px;
    }
    .inline-valid-feedback {
        color: $red;
        font-size: $font-size-xsm;
        display: block;
        margin-left: 5.625rem;
    }
}
// Vertical Forms End

.outlined-textfield-email {
    position: relative;
    label {
        position: absolute;
        font-size:$font-size-base;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $gray-600;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 0.7rem;
        color: $purple;
    }
    input {
        width: 100%;
        padding: 0.625rem 2.2rem 0.625rem 0.875rem;
        font-size:$font-size-base;
        color: $gray-900;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid $gray-400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $base-border-radius;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            border-color: $purple;
        }
    }
    input:focus + label {
        color: $purple;
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
    input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
}
.outlined-error-email-msg {
    position: relative;
    font-size: $font-size-xxsm;
    padding: 0 $base-padding-xsm;
    color: $gray-600;
}

// Outlined Text Fields Default Start

.outlined-textfield-default {
    position: relative;
    margin: 0 0 0.625rem 0;
    label {
        position: absolute;
        font-size:$font-size-base;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $white;
        color: $gray-600;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 0.7rem;
        color: $purple;
    }
    input {
        width: 100%;
        padding: 0.625rem 2.2rem 0.625rem 0.875rem;
        font-size:$font-size-base;
        color: $gray-900;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid $gray-400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $base-border-radius;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            border-color: $purple;
        }
    }
    input:focus + label {
        color: $purple;
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
    input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
}
// Outlined Text Fields Default End

// Outlined Text Fields Sucess Start

.outlined-textfield-sucess {
    position: relative;
    margin: 0 0 0.625rem 0;
    label {
        position: absolute;
        font-size:$font-size-base;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $gray-600;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 0.7rem;
        color: $teal;
    }
    input {
        width: 100%;
        padding: 0.625rem 2.2rem 0.625rem 0.875rem;
        font-size:$font-size-base;
        color: $gray-900;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid $gray-400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $base-border-radius;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            border-color: $teal;
        }
    }
    input:focus + label {
        color: $teal;
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
    input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
}
// Outlined Text Fields Sucess End

// Outlined Text Fields error Start

.outlined-textfield-error {
    position: relative;
    label {
        position: absolute;
        font-size:$font-size-base;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $gray-600;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 0.7rem;
        color: $red;
    }
    input {
        width: 100%;
        padding: 0.625rem 2.2rem 0.625rem 0.875rem;
        font-size:$font-size-base;
        color: $gray-900;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid $gray-400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $base-border-radius;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            border-color: $red;
        }
    }
    input:focus + label {
        color: $red;
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
    input:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(0.9);
    }
}
.outlined-error-msg {
    position: relative;
    font-size: $font-size-xxsm;
    padding: 0 $font-size-xsm;
    color: $red;
}
// Outlined Text Fields error End

// Singal Border Fields Start
.singal-input {
    form {
        margin: 1.875rem;
    }
    .group {
        position: relative;
        margin: 1.875rem;
    }
    textarea {
        resize: none;
    }
    input,
    textarea {
        background: none;
        color: $gray-900;
        font-size:$font-size-base;
        padding: $base-padding-xsm $base-padding-xsm $base-padding-xsm $base-padding-sm;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $gray-400;
        width: 100%;
        &:focus {
            outline: none;
            border-color: $primary;
        }
        &:focus ~ label,
        &:valid ~ label {
            top: -14px;
            font-size:$font-size-base;
            color: $blue;
        }
    }

    input[type="password"] {
        letter-spacing: 0.3em;
    }

    label {
        color: $gray-600;
        font-size:$font-size-base;
        font-weight: $font-weight-base;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
    }

    .bar {
        position: relative;
        display: block;

        &:before {
            content: "";
            height: 2px;
            width: 0;
            bottom: 0px;
            position: absolute;
            left: 0%;
        }
    }
}
// Singal Border Fields End
