.css-pop-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	display:none;
	z-index: 999;
	opacity:0;
	animation-name: fade;
	animation-duration: 0.2s;
  
		&.active{
			display:block;
			opacity:1;
			 transition: all 5s ease-in-out;
			 .css-pop-1{
				  margin: 40px auto;
				  transition:1s;
				  opacity:1;
				  top:30px;
				  
			 }
		}     
		  .css-pop-1 {
				margin: 0px auto;
				background: #fff;
				border-radius: 5px;
				width: 30%;
				position: relative;
				transition: all 5s ease-in-out;
				box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.2);
				opacity:0;
				top:0;
				position: relative;
				animation-name: pop-move;
				animation-duration: 0.4s;
				&.pop-small{
					width: 30%;
				}
				&.pop-med{
					width: 50%;
				}
				&.pop-large{
					width: 60%;
				}
				&.pop-xl{
					width: 75%;
				}              
				&.pop-xxl{
					width: 90%;
				}				
				&.pop-right{
					right: 0;
					top: 0;
					height: 100vh;
					margin: 0;
					border-radius: 0;
					position: fixed;
					animation-name: pop-move-right !important;
					 .modal-content{
						 max-height:initial;
						 height: calc(100vh - 80px);
					 }
				}
				&.pop-left{
					left: 0;
					top: 0;
					height: 100vh;
					margin: 0;
					border-radius: 0;
					position: fixed;
					animation-name: pop-move-left !important;
					 .modal-content{
						 max-height:initial;
						 height: calc(100vh - 80px);
					 }
				}
				&.pop-bottom{
					left: 0;
					bottom: 0;
					margin: 0;
					border-radius: 0;
					position: fixed;
					width: 100%;
					top: auto;
					animation-name: pop-move-bottom !important;					 
				}
				.modal-head{
				   padding: 5px 15px;
				   border-bottom: 1px solid #eee;
				   h3 {
					  margin: 0;
					  color: black;
					  font-family: Tahoma, Arial, sans-serif;
					  font-weight: 500;
					  font-size: 1.2em;
				  }
				  .close {
					transition: all 200ms;
					color: black;
					font-size:1em;
					float: right;
					cursor: pointer;
					 &:hover {
						color: gray;
					  }
				  }
				}
				.modal-content{
				  padding: 5px 15px;
				  max-height: 30%;
				  overflow: auto;
				  font-size: 0.9em;
				  line-height: 1.5em;
				}
  
				.modal-footer{
					padding:5px 15px;
					border-top: 1px solid #eee;
					text-align:right;
				}                            
			  }
  }
  
  @keyframes pop-move {
		  0%   { transform: translateY(-50px); }
		  50%  { transform: translateY(10px); }  
  }
  @keyframes pop-move-right {
	0%   { transform: translateX(100px); }
	50%  { transform: translateX(0px); }  
}
@keyframes pop-move-left {
	0%   { transform: translateX(-100px); }
	50%  { transform: translateX(0px); }  
}
@keyframes pop-move-bottom {
	0%   { transform: translateY(100px); }
	50%  { transform: translateY(0px); }  
}
  
  @keyframes fade {
		  0%   { background:rgba(0, 0, 0, 0.1) }
		  30%  {  background:rgba(0, 0, 0, 0.5) }
  }