.table1 {
    border-collapse: collapse;
    width: 100%;
    font-size: $font-size-base;
    tr,
    th {
        background: $gray-100;
        text-align: left;
        padding: $base-padding-xsm;
    }
    tr {
        border: solid 2px #f5f5f5;
    }
    tr,
    td {
        color: $gray-600;
        background: $white;
        border-bottom: solid 1px #f5f5f5;
        text-align: left;
        padding: $base-padding-xsm;
    }

    td:nth-child(1) {
        color: $gray-600;
    }
    td:nth-child(2) {
        color: $black;
    }
    td:nth-child(3) {
        color: $gray-600;
    }
    td:nth-child(4) {
        color: $gray-600;
    }
    td:nth-child(5) {
        color: $gray-600;
    }
    .default-bg {
        background: #eee;
        border-radius: 4px;
        padding: 2px 5px;
    }
    .active {
        color: $success !important;
        background: #eaf5ea;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .blocked {
        color: $danger !important;
        background: #f1e9e9;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .notveryfied {
        color: $gray-600 !important;
        background: $gray-200;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .veryfied {
        color: $gray-700 !important;
        background: $gray-300;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .my-table-drp {
        .dropbtn-1 {
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding: 0 16px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 0 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }
    }
}

.table2 {
    border-collapse: collapse;
    width: 100%;
    font-size: $font-size-base;
    border: solid 1px #f5f5f5;
    tr,
    th {
        background: $gray-100;
        text-align: left;
        padding: $base-padding-xsm;
    }
    tr,
    td {
        color: $gray-600;
        background: $white;
        border-bottom: solid 2px #f5f5f5;
        text-align: left;
        padding: $base-padding-xsm;
    }

    td:nth-child(1) {
        color: $gray-600;
        width: 190px;
    }
    td:nth-child(2) {
        color: $black;
    }
    td:nth-child(3) {
        color: $gray-600;
    }
    td:nth-child(4) {
        color: $gray-600;
    }
    td:nth-child(5) {
        color: $gray-600;
    }

    .cmp-section {
        .check-lt {
            float: left;
            margin: 10px 5px 0 0;
        }
        .cmp-logo {
            width: 40px;
            height: 40px;
            float: left;
            background: #f5f5f5;
            border-radius: 50%;
            margin: 0 10px 0 5px;
            padding: 6px;
        }
    }
    .usrimg-section {
        .user-img {
            width: 20px;
            height: 20px;
            float: left;
            background: #dee2e6;
            border-radius: 50%;
            margin: 0 2px 0 2px;
        }
    }
    .active {
        color: $success !important;
        background: #eaf5ea;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .blocked {
        color: $danger !important;
        background: #f1e9e9;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .notveryfied {
        color: $gray-600 !important;
        background: $gray-200;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .veryfied {
        color: $gray-700 !important;
        background: $gray-300;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .my-table-drp {
        .dropbtn-1 {
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding: 0 16px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 0 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }
    }
}

.table3 {
    border-collapse: collapse;
    width: 100%;
    font-size: $font-size-base;
    tr,
    th {
        background: $gray-100;
        text-align: left;
        padding: $base-padding-xsm;
    }
    tr {
        border: solid 5px #f5f5f5;
    }
    tr,
    td {
        color: $gray-600;
        background: $white;
        border-bottom: solid 5px #f5f5f5;
        text-align: left;
        padding: $base-padding-xsm;
    }

    td:nth-child(1) {
        color: $gray-600;
    }
    td:nth-child(2) {
        color: $black;
    }
    td:nth-child(3) {
        color: $gray-600;
    }
    td:nth-child(4) {
        color: $gray-600;
    }
    td:nth-child(5) {
        color: $gray-600;
    }
    .default-bg {
        background: #eee;
        border-radius: 4px;
        padding: 2px 5px;
    }
    .active {
        color: $success !important;
        background: #eaf5ea;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .blocked {
        color: $danger !important;
        background: #f1e9e9;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .notveryfied {
        color: $gray-600 !important;
        background: $gray-200;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .veryfied {
        color: $gray-700 !important;
        background: $gray-300;
        padding: 2px 5px;
        border-radius: 4px;
    }
    .my-table-drp {
        .dropbtn-1 {
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding: 0 16px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 0 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .show {
            display: block;
        }
    }
}

